<h1>Campaign List</h1>

<h2>Invoice Grand Total: <%= @grand_total %></h2>

<%= form_tag campaigns_path, method: :get, class: "filter-form" do %>
  <div>
    <%= label_tag :campaign_name, "Campaign Name" %>
    <%= text_field_tag :campaign_name, params[:campaign_name] %>
  </div>
  <div>
    <%= label_tag :reviewed, "Reviewed Status" %>
    <%= select_tag :reviewed, options_for_select([['All', ''], ['Reviewed', 'true'], ['Not Reviewed', 'false']], params[:reviewed_status]) %>
  </div>
  <%= submit_tag "Filter" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Reviewed</th>
      <th>Export Invoice</th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.name, campaign_path(campaign) %></td>
        <td><%= campaign.reviewed %></td>
        <td>
          <%= button_to 'Export as XLSX', export_invoice_campaign_path(campaign, format: 'xlsx'), method: :post %>
          <%= button_to 'Export as CSV', export_invoice_campaign_path(campaign, format: 'csv'), method: :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @campaigns %>