<h1>Line Items</h1>

<h2>Invoice Grand Total: <%= @grand_total %></h2>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable_column_link 'Name', 'name' %></th>
      <th><%= sortable_column_link 'Booked Amount', 'booked_amount' %></th>
      <th><%= sortable_column_link 'Actual Amount', 'actual_amount' %></th>
      <th><%= sortable_column_link 'Adjustments', 'adjustments' %></th>
      <th>Billable Amount</th>
      <th><%= sortable_column_link 'Campaign Name', 'campaign_id' %></th>
      <th>Campaign Sub-Totals</th>
      <th>Export Invoice</th>
    </tr>
  </thead>
  <tbody>
      <% @line_items.each do |line_item| %>
        <tr class="line-item-row">
          <td><%= line_item.name %></td>
          <td><%= line_item.booked_amount %></td>
          <td><%= line_item.actual_amount %></td>
          <td>
            <%= form_with(model: line_item, url: line_item_path(line_item), local: true) do |form| %>
              <%= form.text_field :adjustments, class: 'adjustments-field' %>
              <%= form.submit 'Update' %>
            <% end %>
          </td>
          <td><%= line_item.billable_amount %></td>
          <td><%= line_item.campaign.name %></td>
          <td><%= @subtotals_by_campaign[line_item.campaign_id] %></td>
          <td>
            <%= button_to 'Export as XLSX', export_invoice_campaign_path(line_item.campaign_id, format: 'xlsx'), method: :post %>
            <%= button_to 'Export as CSV', export_invoice_campaign_path(line_item.campaign_id, format: 'csv'), method: :post %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>

<div class="pagination">
  <%= paginate @line_items, outer_window: 1, inner_window: 2 %>
</div>